*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 113px;
}

.logo{
    height: 50px;
    width: 100%;
    background-size: cover;
    background-image: url("images/amazonlogo.png");
    filter: invert(100%);
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/*box2*/
.nav-address{
    cursor: pointer;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/*box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
    height: 40px;
    width: 620px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover{
    border: 2px solid #febd68;
}

/*box4 */
.language{
    display: flex;
    width: 55px;
    height: 35px;
    align-items: center;
}

.lang-select{
    border: none;
    background-color: #0f1111;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}

.lang-icon{
    font-size: 1rem;
    color: #ca502b;
}

/*box5*/
span{
    font-size: 0.8rem;
}

.nav-signin p, .nav-return p, .nav-cart{
    cursor: pointer;
}

.nav-second{
    font-size: 0.95rem;
    font-weight: 700;
}

/*box6 */
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.95rem;
    font-weight: 700;
}


/** Panel **/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all{
    padding: 7px;
    cursor: pointer;
}

.panel-ops p{
    display: inline;
    margin-left: 12px;
    padding: 7px;
    cursor: pointer;
}

.panel-ops{
    width: 70%;
    font-size: 0.9rem;
}

.panel-deals{
    font-size: 0.95rem;
    font-weight: 700;
    padding: 7px;
    cursor: pointer;
}


/**HERO section**/
.hero-section{
    background-image: url("images/heroimage.jpg");
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.95rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-message a{
    color: #007185;
}

.hero-message a:hover{
    color: rgb(110, 20, 110);
}


/**Shop section **/
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(250, 240, 227);
    flex-wrap: wrap;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box h2{
    font-size: 1.2rem;
}

.box-image{
    height: 320px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
    margin-top: 10px;
}

.box p:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(110, 20, 110);
}


/**Footer**/
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.95rem;
}

.foot-panel1:hover{
    cursor: pointer;
    background-color: #465567e4;
}

.foot-panel1 a{
    text-decoration: none;
    color: white;
}


.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 40px;
}

ul p{
    font-weight: 700;
}

.foot-panel2 ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel2 ul a:hover{
    cursor: pointer;
    text-decoration: underline;
}


.foot-panel3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo2{
    background-image: url('images/logo.png');
    background-size: cover;
    height: 50px;
    width: 150px;
    filter: invert(100%);
    cursor: pointer;
}

.panel-select{
    border: none;
    background-color: #222f3d;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}

.panel-icon{
    font-size: 1rem;
    color: white;
}

.footer-lang{
    display: flex;
    padding: 10px;
    margin-left: 50px;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.75rem;
    text-align: center;
}

.pages{
    padding-top: 25px;
}

.copyright{
    padding-top: 5px;
}


@media only screen and (max-width: 1200px) {
    .box{
        height: 320px;
    }

    .box-image{
        height: 250px;
    }
}

@media only screen and (max-width: 1100px) {
    .box h2{
        font-size: 0.9rem;
    }

    .box{
        height: 250px;
    }
    
    .box-image{
        height: 180px;
    }

    span{
        font-size: 0.6rem;
    }

    .nav-second{
        font-size: 0.7rem;
    }

    .add-first{
        font-size: 0.7rem;
    }

    .nav-cart i{
        font-size: 20px;
    }

    .nav-cart {
        font-size: 0.8rem;
    }

    .nav-search {
        width: 200px;
    }

    .panel-deals{
        font-size: 0.8rem;
    }

    .panel-ops p{
        font-size: 15px;
    }

    .hero-message a::before{
        content: "\A";
        white-space: pre;
    }
}

@media only screen and (max-width: 910px){
    .hero-message p{
    font-size: 0.8rem;
    }

    .box h2{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 760px) {
    .panel-ops p{
        font-size: 12px;
        padding: 2px;
    }

    .panel-all{
        font-size: 12px;
        padding: 2px;
    }

    .hero-message p{
        font-size: 0.6rem;
    }

    .logo{
        width: 80%;
    }

    .shop-section h2{
        font-size: 0.65rem;
    }

    .panel-deals{
        font-size: 0.65rem;
        padding: 2px;
    }
}

@media only screen and (max-width:600px){
    .nav-search{
        max-height: 35%;
    }

    .search-icon{
        font-size: 0.8rem;
    }

    .search-input{
        font-size: 0.3rem;
    }

    .add-second{
        font-size: 0.7rem;
    }

    .lang-icon, .lang-select{
        font-size: 0.6rem;
    }

    .search-select, .add-first, span{
        font-size: 0.45rem;
    }

    .nav-second, .nav-cart, .nav-cart i{
        font-size: 0.6rem;
    }

    .logo{
        background-size: contain;
        background-repeat: no-repeat;
        align-items: center;
    }

    .hero-section{
        height: 150px;
    }

    .panel-all, .panel-deals, .panel-ops p{
        font-size: 0.4rem;
        margin-left: 1px;
        padding: 0px;
    }

    .hero-message p{
        font-size: 0.45rem;
    }

    .hero-message{
        height: 30px;
    }

    .box{
        flex: 1 50%;
        justify-content: space-evenly;
        align-items: center;
        height: 180px;
    }

    .box-image{
        height: 100px;
        background-size: cover;
    }

    .box h2{
        font-size: 0.8rem;
    }

    .foot-panel2{
        height: 450px;
        flex-wrap: wrap;
        flex: 50%;
        padding-left: 40px;
        padding-right: 40px;
    }

    .foot-panel2 ul p{
        font-size: 0.6rem;
    }

    .foot-panel2 ul a{
        font-size: 0.5rem;
    }

    .panel-select, .panel-icon{
        font-size: 0.8rem;
    }

    .logo2{
        height: 30px;
        width: 80px;
    }

    .foot-panel3{
        height: 70px;
    }

    .pages a, .copyright{
        font-size: 0.7rem;
    }
}